<div class="flex flex-col">
  <ng-content></ng-content>
  @if (isLoading && employeePayments.length === 0) {
    <div class="flex justify-center w-full mt-120 relative">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  } @else {
    <table [dataSource]="employeePayments" mat-table matSort matSortActive="name" (matSortChange)="sortName($event)" matSortDirection="asc">
      @for (column of columns; track index; let index = $index) {
        <ng-container [ngSwitch]="column.value">
          <ng-container *ngSwitchCase="'id'" matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-checkbox
                (change)="$event ? onSelectRow(row) : null"
                (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'name'" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              {{ column.name }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column.value] || "-" }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'email'" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.name }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column.value] }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'clockedInTotal'" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.name }}
            </th>
            <td mat-cell *matCellDef="let element">{{ (element[column.value] | formatHours) || "-" }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'regularPay'" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.name }}
            </th>
            <td mat-cell *matCellDef="let element">{{ (element[column.value] | currency: "$") || "-" }}</td>
          </ng-container>
          <ng-container *ngSwitchCase="'overtimePay'" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.name }}
            </th>
            <td mat-cell *matCellDef="let element">{{ (element[column.value] | currency: "$") || "-" }}</td>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      }

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr class="row-hover" (click)="onSelectRow(row)" *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
    <mat-paginator class="mb-80" [length]="totalSize" [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event)"></mat-paginator>
    <div *ngIf="isLoading" class="flex justify-center w-full mt-120 absolute-center">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  }
</div>
