body {
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-self {
    justify-self: center;
  }

  .items-center {
    align-items: center;
  }

  .w-full {
    width: 100%;
  }

  .p-20 {
    padding: 10px;
  }

  .p-40 {
    padding: 40px !important;
  }

  .px-40-py-20 {
    padding: 20px 40px !important;
  }

  .m-20 {
    margin: 20px;
  }

  .max-w-1700 {
    max-width: 1700px;
  }

  .relative {
    position: relative;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-40 {
    padding: 0 40px;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .mb-80 {
    margin-bottom: 80px;
  }

  .mb-46 {
    margin-bottom: 46px;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .mt-80 {
    margin-top: 80px;
  }

  .mt-120 {
    margin-top: 120px;
  }

  .w-fit-content {
    width: fit-content;
  }

  .align-self-end {
    align-self: flex-end;
  }

  .font-bold {
    font-weight: bold;
  }
  .font-medium {
    font-weight: 500;
  }

  .bg-white {
    background: #fff !important;
  }

  .fs-16 {
    font-size: 16px;
  }

  .text-black {
    color: #000;
  }

  .absolute-center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
