@import "../../../../styles/variables";

.card {
  box-shadow: $shadow;
  padding: 60px 20px;
  text-align: center;
  height: 190px;
  .card-title {
    font-size: $card-title-size;
    font-weight: 600;
  }
  .card-value {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.35);
  }
}
